.infoContainer {
  display: flex;
  flex-direction: column;
  font-family: 'RobotoSlab';
  margin-left: 50px;
}

.characterName {
  margin: 0;
  max-width: 400px;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.characterDescription {
  margin: 20px 0 0;
  max-width: 400px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.editButton {
  margin: auto 50px 10px;
  color: white;
  height: 50px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  background-color: #595eb0;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.editButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.editButton:active {
  background-color: #cf502c;
  opacity: 1;
}
