/* >1440px */
.infoContainer {
  display: flex;
  flex-direction: column;
  font-family: 'RobotoSlab';
  margin-left: 30px;
  padding-right: 15px;
}

.characterName {
  margin: 0;
  max-width: 400px;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.characterDescription {
  margin: 20px 0 0;
  max-width: 400px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 1280px..1439px */
@media screen and (max-width: 1439px) {
  .infoContainer {
    margin-left: 20px;
  }

  .characterName {
    max-width: 300px;
    padding-top: 20px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
  }

  .characterDescription {
    max-width: 300px;
  }
}

/* <1280px */
@media screen and (max-width: 1279px) {
  .infoContainer {
    margin-left: 15px;
  }

  .characterName {
    padding-top: 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;
  }
}
