/* >1440px */
.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.profileWrapper {
  display: grid;
  grid-template-columns: 200px minmax(150px, auto);
  width: 100%;
  border-radius: 20px;
  background-color: #595eb0;
}

/* 1280px..1439px */
@media screen and (max-width: 1439px) {
  .profileWrapper {
    grid-template-columns: 140px minmax(180px, auto);
  }
}

/* <1280px */
@media screen and (max-width: 1279px) {
  .profileWrapper {
    grid-template-columns: 120px minmax(160px, auto);
  }

  .profileContainer {
    flex-direction: column;
    justify-content: space-around;
  }
}
