.activitiesContainer {
  font-family: 'RobotoSlab';
  width: calc(100% - 200px * 2);
  margin: 0 auto;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activitiesWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  grid-template-rows: repeat(4, minmax(150px, 1fr));
  gap: 20px;
  padding-bottom: 15px;
}

.activitiesTitle {
  margin: 0 auto 10px;
  padding: 0;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
}
