@import url(../../fonts/RobotoSlab.module.css);
@import url(../../fonts/Roboto.module.css);

.header {
  display: flex;
  flex-direction: row;
  width: calc(100% - 200px * 2);
  margin: 0 auto 50px;
  font-family: 'RobotoSlab';
  border: 1px solid red;
}
